<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SmartCalc</title>
</head>
<body>
    <div style="max-width: 800px; margin: 100px auto; text-align: center;">
        <h1>SmartCalc</h1>

        <h2>О программе</h2>
        <p>Программа представляет собой реализацию на языке программирования C с использованием структурного подхода
            расширенную версию обычного калькулятора, который можно найти в стандартных приложениях каждой операционной системы.
            Помимо базовых арифметических операций, как плюс-минус и умножить-поделить,
            калькулятор имеет возможность вычисления арифметических выражений с учетом приоритетов,
            а так же некоторых математических функций (синус, косинус, логарифм и т.д.).
            Помимо вычисления выражений калькулятор так же поддерживает использование переменной x
            и построение графика соответствующей функции.</p>

        <div>
                <h3>Арифметические операторы</h3>
                <ul style="list-style-type: none; padding: 0; ">
                    <li>Скобки (a + b)</li>
                    <li>Сложение  a + b</li>
                    <li>Вычитание a - b</li>
                    <li>Умножение a * b</li>
                    <li>Деление a / b</li>
                    <li>Возведение в степень a ^ b</li>
                    <li>Остаток от деления a mod b</li>
                    <li>Унарный плюс +a</li>
                    <li>Унарный минус -a</li>
                </ul>
                <h3>Функции</h3>
                <ul style="list-style-type: none; padding: 0;">
                    <li>Вычисляет косинус cos(x)</li>
                    <li>Вычисляет синус sin(x)</li>
                    <li>Вычисляет тангенс tan(x)</li>
                    <li>Вычисляет арккосинус acos(x)</li>
                    <li>Вычисляет арксинус asin(x)</li>
                    <li>Вычисляет арктангенс atan(x)</li>
                    <li>Вычисляет квадратный корень sqrt(x)</li>
                    <li>Вычисляет натуральный логарифм ln(x)</li>
                    <li>Вычисляет десятичный логарифм log(x)</li>
                </ul>
        </div>

        <h2>Установка</h2>
        <p>Для того, чтобы начать использовать калькулятор вам нужно использовать команду make install.</p>

        <h2>Удаление</h2>
        <p>Для удаления программы вы можете использовать команду make uninstall.</p>
    </div>
</body>
</html>
